.listalogin {

    background-color: lightgray;
} 



.listacatalogo {

    background-color: lightgray;

} 

.righecatalogo {

    background-color: grey;
    border-radius: 5px;
    color: white;
}

